*{
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

:root{
    --first-color: #9b9b7a;
    --second-color: #5f3e29;
    --third-color: #f4c773;
    --fourth-color: #665142;
    --gap: 1rem;
}

header{
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}


header img{
    display: block;
    width: 100%;
    height: auto;
}

header span{
    font-size: 1.2rem;
    color: var(--fourth-color);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0 5px 0;
}

/* nav */

.hamburger{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2.3rem;
    color: var(--fourth-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00D7";
}


.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navigation a{
    display: block;
    text-decoration: none;
    padding: 13px 20px;
    color: #5a3c00;
    border-bottom: 1px solid #ddd;
}

.navigation a:hover{
    color: white;
    background-color: var(--second-color) !important;
}

.navigation a.active{
    background-color: #574f3fd5;
    color: white;   
    border: 1px dashed black;
}

h1{
    padding-left: 1rem;
}


/* Member cards layout */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.cards section {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;
}

.cards section img {
    max-width: 120px;
    height: auto;
    margin-bottom: 0.5rem;
}

/* List View */
.list .cards {
    display: block;
}

.list .cards section {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 1rem;
}

.list .cards section img {
    display: none;
}

.view-buttons{
    justify-self: center;
}


/* Footer */

footer{
    background-color: var(--second-color);
    color: white;
}

.contact-info{
    padding: 10px 10px;
    text-align: center;
    margin-left: 2rem;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding-bottom: 15px;
}

.social a{
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--third-color);
    border-radius: 22px;
}

.social img{
    height: 22px;
    width: 22px;
}

.currentyear{
    text-align: center;
    margin-right: 2rem;
}

.lastModified{
    text-align: center;
    padding-bottom: 10px;
    margin-right: 2rem;
}

.card-container {
  display: flex;
  justify-content: center; 
  gap: 20px;               
  flex-wrap: wrap;          
  margin: 20px 0;
}

.card {
  background: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1 1 300px;          
  max-width: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12); 
  overflow: hidden;
  min-height: 250px;        
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: var(--second-color);
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 12px;
  text-align: center;
}

.card-body {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.card-body h2 {
  font-size: 2em;
  margin: 0;
  color: var(--fourth-color);
}

.card-body img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.card-body p {
  font-size: 0.95em;
  margin: 2px 0;
  color: #555;
}

#forecast-card p {
  font-weight: bold;
  margin: 4px 0;
}


.business-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.business-cards section {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;
}

.business-cards section img {
    max-width: 120px;
    height: auto;
    margin-bottom: 0.5rem;
}

.b-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hero-container {
    position: relative;
    width: 80%;
    height: auto; 
    overflow: hidden;
    justify-self: center;
    margin-bottom: 1rem;
}

.hero-image {
    width: 100%;
    height: 100%;
}


.hero-button {
    position: absolute;
    top: 10px;       
    right: 9px;   
    padding: 5px 10px;
    background-color: var(--third-color);
    color: #382011;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: var(--second-color);
    color: white;
}


/* Form */

.heading {
    margin-top: 1.5rem;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;              
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f3e7be; 
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

label {
    font-size: 1.15rem;
    color: var(--second-color);
    margin-bottom: 5px;
}


form input, form select, form textarea {
    width: 100%;
    max-width: 500px;
    padding: 11px;
    font-size: 1.1rem;
    border: 2px solid var(--first-color);
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: var(--second-color);
    box-shadow: 0 0 6px var(--second-color);
}

form input::placeholder {
    color: #aaa;
    font-style: italic;
}

form button {
    font-size: 1.15rem;
    padding: 14px;
    background: var(--second-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover {
    color: white;
    background-color: rgb(50, 27, 3);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

form textarea {
    min-height: 150px;
    resize: vertical;
}

#membership-c section{
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}

#membership-c section:nth-child(1) {background-color: rgb(37, 37, 55);
                                    color:white;  
                                    padding: 2rem;
                                    }
#membership-c section:nth-child(2) { background-color: #CD7F32;
                                    color: #340404; 
                                    }
#membership-c section:nth-child(2) button {
                                    background-color: #340404;
}
#membership-c section:nth-child(3) { background-color: rgb(115, 115, 115); 
                                    color: white;
                                    padding: 1rem}
#membership-c section:nth-child(4) { background-color: gold;
                                    color: #850a0a;
                                    padding: 1.5rem;}
#membership-c section:nth-child(4) button {
                                    background-color: #850a0a;
}


#membership-c h2{
    margin-bottom: 1rem;
}

#membership-c button {
    padding: 10px;
    font-size: 1rem;
    background-color: var(--second-color);
    color: white;
    border: none;
}

#mydialog {
    margin: auto;
}

#mydialog div {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;            
    gap: 5px;                        
}

#mydialog h2{
    font-size: 1.7rem;
}

#mydialog button {
    justify-self: end;
    min-height: 40px;
    min-width: 40px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mydialog div {
    margin-bottom: 1rem;
}

#mydialog p {
    line-height: 1.6;
}

#mydialog::backdrop {
    background-color: rgba(58, 33, 3, 0.6);
}

.thankyou {
  max-width: 800px;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid var(--first-color, #ccc);
  border-radius: 6px;
  background-color: #f9f9f9;
}

.thankyou h1{
    margin-bottom: 1.5rem;
    text-align: center;
}

.TSubHeading{
    margin-bottom: 1.5rem;
}

.submission-details p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}


html, body {
  height: 100%;      /* make full-page height available */
  display: flex;
  flex-direction: column;
}

/* Discover */

.discover-page{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "intro"
    "gallery"
    "side";
  gap: var(--gap);
  padding: 1rem;
  max-width: 1100px;
  margin: 0 auto;
}


.intro { 
    grid-area: intro; 
}
.gallery { 
    grid-area: gallery; 
}
.side-info { 
    grid-area: side; 
}

.gallery{
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr;
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7"
    "card8";
}

.gallery .card {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 1px;
  box-shadow: 0 1px 4px rgba(0,0,0,.06);
}
.gallery .card figure { 
    margin: 0; 
}

.gallery .card img { 
    width: 100%; 
    height: auto; 
    aspect-ratio: 3/2; 
    object-fit: cover; 
    display: block; 
}

.gallery .card .card-content { 
    padding: .75rem; 
    display:flex; 
    flex-direction:column; 
    gap: .35rem; 
}

.gallery .card h2 { 
    margin: 0; 
    font-size: 1.05rem; 
    color: var(--fourth-color); 
}

.gallery .card address { 
    font-style: normal; 
    color: black; 
    font-size: .9rem; 
}

.gallery .card p { 
    margin: .6rem 0 0 0; 
    color: #333; 
    flex: 1 0 auto; 
}

.gallery .card .card-actions { 
    padding: .75rem; 
    display:flex; 
    justify-content:flex-end; 
}

.gallery .card button { 
    background: var(--second-color); 
    color: white; 
    border: none; 
    padding: .5rem .75rem; 
    border-radius:6px; 
    cursor:pointer; 
}


.card-1 { grid-area: card1; }
.card-2 { grid-area: card2; }
.card-3 { grid-area: card3; }
.card-4 { grid-area: card4; }
.card-5 { grid-area: card5; }
.card-6 { grid-area: card6; }
.card-7 { grid-area: card7; }
.card-8 { grid-area: card8; }


@media (hover: hover) and (pointer: fine) and (min-width: 641px) {
  .gallery .card img { 
    transition: transform .28s ease, filter .28s ease; 
}
  .gallery .card:hover img { 
    transform: scale(1.05); 
    filter: brightness(.96); 
}
}

